<div>Version: {{version.message}}</div>
<label for="new-to">Add a new todo item:</label>
<div>
    <input id="new-todo" #newTodo />
    <button type="button" class="add-button" (click)="
    addToDoItem(newTodo.value);
    newTodo.value=''
    ">
        add a new todo item 
    </button>
</div>
<div>List of todo items:</div>
<ul >
    <li *ngFor="let item of toDoItems">
        <span class="badge">{{item.id}}</span> {{item.name}}
        <input #isComplete type="checkbox" [checked]="item.isComplete" (change)="updateCheckedStatus(isComplete.checked, item)"/>
        <button type="button" class="delete" title="delete item" (click)="deleteToDoItem(item)">x</button>
    </li>
  </ul>
<div>Number of todo items: {{toDoItems.length}}</div>
<div>number of todo items completed: </div>
