<div>Version: {{version.message}}</div>

<div>
    
</div>
<mat-card>
    <mat-card-header>List of todo items:</mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let item of toDoItems">
                <button mat-mini-fab color="primary" 
                aria-label="Example icon button with a delete icon"
                (click)="deleteToDoItem(item)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
                <mat-slide-toggle #isComplete [checked]="item.isComplete" (change)="updateCheckedStatus(isComplete.checked, item)">
                    <span>{{item.id}}</span>{{item.name}}
                </mat-slide-toggle>
            </mat-list-item>
        </mat-list>
        <div>Number of todo items: {{toDoItems.length}}</div><div>number of todo items completed: {{numberOfCompletedItems()}} </div>
        <label for="new-todo">Add a new todo item:</label>
        <input id="new-todo" #newTodo />
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button type="button" class="add-button" (click)="
        addToDoItem(newTodo.value);
        newTodo.value=''
        ">
            add a new todo item 
        </button>
    </mat-card-actions>
</mat-card>
